

.sort_panel {
    display: inline-block;
    color: white;
    height: fit-content;
    margin: 10px 20px 10px 10px;
}

.sort_select {
    padding: 3px;
    border-radius: 5px;
    outline: none;
}